@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lemonada:wght@300&family=Licorice&family=Luxurious+Roman&family=Roboto+Mono:wght@300&display=swap');
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e9f2d3;
  text-align: center;
  font-family: 'Roboto Mono', monospace; sans-serif;
  position: relative;
}
.section-center {
  margin: auto;
  margin-top: 10px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  text-align: center;
  padding-top: 20px;
}

.form {
  display: inline;
}
header {
  position: fixed;
  justify-content: center;
  background-color: #e9f2d3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 50px;
}
#header_menu {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

li {
  list-style: none;
  margin-left: 30px;
}
img {
  width: 220px;
  height: 150px; 
  object-fit: cover;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #300000;
  font-size: 20px;
  font-weight: bold;
}
a:hover { 
  color: #977171;
}

h2 {
  font-size: 14px;
  color: #2c1717;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

h3 {
  margin-top: 3px;
  font-size: 18px;
  color: #300000;
}
.iframe{
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 20px;
  color: #300000;
}

img:hover {
  opacity: 0.5;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  height: 30px;
  border-radius: 10px;
}


.logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
}