body {
  background-color: #111d4a;
  text-align: center;
  color: white;
}
.section-center {
  margin: auto;
  margin-top: 10px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  text-align: center;
}

.form {
  display: inline;
}

img {
  width: 140px;
  height: 140px;
}

img:hover {
  opacity: 0.5;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  height: 30px;
  border-radius: 10px;
}

input:hover {
  border: 1px solid red;
}

.divs-background {
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  color: black;
  background-color: antiquewhite;
  margin-top: 10px;
  font-size: 20px;
}
